.form-container {

}

.form {
}

.form-group {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.forgot-hint{
  position: absolute;
  right: 1rem;
  top:1rem;
  :before {
    content: '';
    position: absolute;
    left: -1rem;
    top: -0.45rem;
    width: 0.15rem;
    height: 2rem;
    background: var(--light-grey);
  }
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hint-text {
  color: var(--dark-grey);
}

.hint-link {
  &:link,
  &:visited {
    display: inline-block;
    font-weight: 400;
    border-radius: 5px;
    color: var(--primary-blue);
    text-decoration: none;
  }
}
