@import "./variables.scss";

.u-center-text {
  text-align: center !important;
}

//margin bottom
.u-mb-sm {
  margin-bottom: 1.5rem !important;
}

.u-mb-md {
  margin-bottom: 3rem !important;
}

.heading-tertiary {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--primary-blue)
}
