$sz-xlarge: 112.5em; //1800px+ lgDesktop min-width:112.5em
$sz-largest: 75em; // 1200px tab-land
$sz-large: 68.75em; // 1100px
$sz-medium: 56.25em; // 900px tab-port
$sz-small: 37.5em; // 600px phone
$sz-smallest: 31.25em; // 500px
$sz-xsmall: 26.25em; // 380px iphoneX

