@import "../../../styles/variables.scss";

.container {
  position: relative;
  max-width: var(--max-width);
  width: 100%;
  background-color: var(--white);
  margin: 4rem auto;
  padding: 2rem;
//   box-shadow: 0 4px 10px 4px rgba(#000, 0.1);
  border-radius: 5px;
  @media only screen and (max-width: $sz-xsmall) {
    height: 100vh;
    margin: auto 0;
  }

  background: url(../../../assets/images/img_town_370x170@3x.svg);
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
}


.greetings {
  color: var(--dark-grey);
  line-height: 1.8rem;
  margin: 1rem;
}
