.container {
    position: relative;
    max-width: var(--max-width);
    width: 100%;
    background-color: var(--white);
    margin: 4rem auto;
    padding: 2rem;
    box-shadow: 0 4px 10px 4px rgba(var(--black), 0.1);
  }
  
  .greetings{
      color: var(--dark-grey);
      line-height: 1.8rem;
      margin: 3rem;
  }
  // .form {
  //     background:rgba($form-bg,.9);
  //     padding: 40px;
  //     max-width:600px;
  //     margin:40px auto;
  //     border-radius:$br;
  //     box-shadow:0 4px 10px 4px rgba($form-bg,.3);
  //   }
  
  // /* Container */
  // .container {
  //     position: relative;
  //     max-width: $max-width;
  //     width: 100%;
  //     margin: 0 auto 100px;
  // }
  